[diff]
pager = "delta"

[data]
{{ $email := promptString "Email" }}
email = {{ $email | quote }}
{{ $user := promptString "Username" (.chezmoi.username | regexFind "[^\\\\]+$") }}
user = {{ $user | quote }}
