[diff]
pager = "delta"

[data]
{{- $email := promptStringOnce . "email" "Email" }}
email = {{ $email | quote }}
{{- $user := promptStringOnce . "user" "Username" (.chezmoi.username | regexFind "[^\\\\]+$") }}
user = {{ $user | quote }}

