[user]
	name = {{- .user }}
	email = {{- .email }}
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[alias]
	st = status
	a = add
	c = commit
	px = push
	pfwl = push --force-with-lease
	fe = fetch
	pl = pull
	ll = log --oneline
	llg = log --oneline --graph
	aliases = "! git config get --all --show-names --show-scope --regexp '^alias\\.' | sort | sed -E -e 's/alias.(\\S*)\\s+/\\o033[1;31m\\1\\o033[2;m=\\o033[0m/' -e 's/(^\\w+)\\s+/\\o033[2;36m\\1|\\o033[0m/'"
	root = rev-parse --show-toplevel
[init]
	defaultBranch = main
[pull]
	ff = only
